<h1>ユーザー新規作成</h1>
<%= form_with(model: @user, url: admin_users_path(@user),  local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count,"error") %>prohibited this
      <%= @user.name %>from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.radio_button :admin, :true %>
  <%= form.label :admin, "管理者権限を付与する" %>
  <%= form.radio_button :admin, :false %>
  <%= form.label :admin, "権限を削除する" %>

  <%= form.submit "作成" %>
<% end %>